<template name="_navbar">
  <nav class="navbar navbar-default navbar-fixed-top bs-docs-nav ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <div class="logo">
                <img src="/assets/images/fishboard-logo.png" />
                <div>fishboard</div>
              </div>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Boards <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {{#if currentUser}}
                  <li><a href="#">Import Boards</a></li>
                  {{/if}}
                  <li><a href="#">Export Boards</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Boards</li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Traffic</a></li>
                  <li><a href="#">Machines</a></li>
                  <li><a href="#">Disk Spaces</a></li>
                </ul>
              </li>
              {{#if currentUser}}
              <li><a href="#" class="add-board-modal"><i class="fa fa-plus"></i> Add Board</a></li>
              {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <form id="search-form" class="form-inline" role="form" method="post" action="//www.google.com/search" target="_blank">
                  <div class="input-group">
                    <input type="text" class="form-control search-form" placeholder="Search">
                    <!--DO NOT NEED TRAILING SLASH "/" As HTML5 FORMS SLASHES ARE NO LONGER REQUIRED-->
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
                        <i class="fa fa-search">
                          <!--FONT AWESOME font @ "http://fortawesome.github.io/Font-Awesome/" -->
                        </i>
											</button>
                    </span>
                  </div>
                </form>
              </li>
              {{> loginButtons}}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
</template>
