<template name="recipe">
<div class="row">
		<div class="col-md-8">

			<div class="page-header" style="border: 0;margin-bottom:5px;padding-left:0">


				<div class="col-md-8" style="padding-left: 0">
					<h2 style="margin:0 0 5px 0;display:inline-block">Çikolatalı Akan Kek</h2>
					<span style="display:inline-table; margin:5px 0 0 5px ; vertical-align: top; font-size:small;font-family: Satisfy;padding:5px 2px 2px 5px" class="label label-primary">tadınefis</span>
					<small style="display:block;font-size:small"><a href="#">HandeOzgan</a>'ın <a href="#">Annemin Sırları</a> defterinden</small>
				</div>
				<div class="col-md-4" style="padding:0;text-align: right">
					<ul class="nav nav-pills recipe-menu pull-right" style="display: inline-block">
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" data-placement="bottom" title="Daha fazla"><i class="fa fa-plus"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#" title="Deftere Ekle"><i class="fa fa-book"></i>Defterime</a></li>
								<li><a href="#" title="Alışveriş Listeme Ekle"><i class="fa fa-shopping-cart"></i>Alışveriş Listeme</a></li>
								<li><a href="#" title="Ajandama Ekle"><i class="fa fa-calendar-o"></i>Takvime</a></li>
							</ul>
						</li>
						<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Tadı Nefis"><i class="fa fa-heart"></i></a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Not Ekle"><i class="fa fa-pencil-square-o"></i></a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Denedim"><i class="fa fa-check"></i></a></li>
					</ul>

					<small style="font-size:small;display: inline-block"><a href="#" style="color:#777">10 gün önce yayınlandı</a></small>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">

			<img src="http://placehold.it/750x350">
			</div>
			</div>

			<div class="row recipe-info">
				<div class="col-md-8">
				<ul class="nav nav-tabs box">

					<li>
						<span class="value">Fransız</span>
						<span class="description">Mutfağı</span>
					</li>
					<li>
						<span class="value">1.20 dk</span>
						<span class="description">Hazırlama Süresi</span>
					</li>
					<li>
						<span class="value">15 dk</span>
						<span class="description">Pişirme Süre</span>
					</li>
					<li>
						<span class="value">Kolay</span>
						<span class="description">Zorluk Derecesi</span>
					</li>
					<li>
						<span class="value">4/6</span>
						<span class="description">Kişilik</span>
					</li>
				</ul>
				</div>
				<div class="col-md-4">
				<ul class="nav nav-tabs stats">
					<li>
						<span class="value">68</span>
						<span class="quantity">kişi</span>
						<span class="description">deftere ekledi</span>
					</li>
					<li>
						<span class="value">105</span>
						<span class="quantity">kişi</span>
						<span class="description">tadını nefis buldu</span>
					</li>
					<li>
						<span class="value">10.902</span>
						<span class="quantity"></span>
						<span class="description">kez görüntülendi</span>
					</li>
				</ul>

</div>

			</div>


			<div class="row" style="margin: 10px 0 35px 0">

				<div class="col-md-9" style="padding-left: 0">
					<span class="label label-default">HTML5/CSS3</span>
					<span class="label label-default">jQuery</span>
					<span class="label label-default">CakePHP</span>
					<span class="label label-default">Android</span>
				</div>
				<div class="col-md-3" style="padding-right: 0">
					<ul class="nav nav-pills pull-right ">
						<li style="padding-right:15px"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Paylaş" style="font-size:12px;padding:0; background-color: #ffffff; color:gray;"><i class="fa fa-share-alt" style="padding-right:5px;"></i>Paylaş</a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Bildir" style="font-size:12px; padding:0; background-color: #ffffff; color:gray;"><i class="fa fa-flag" style="padding-right:5px;"></i>Bildir</a></li>
					</ul>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">


				<p>
					İçinden sıcak çikolata akan bir kek yemeye ne dersiniz? İşte size enfes şelale kek tarifi...
				</p>
				</div>
			</div>
<div class="row">
			<!-- Ingredients -->
	<div class="col-md-6">
				<h4 style="border-bottom: 1px solid #DEDEDE;padding-bottom: 5px">Malzemeler</h4>
				<ul class="nav">
					<li>1 çay bardağı un</li>
					<li>2 yemek kaşığı tereyağı</li>
					<li>1 çay bardağı tozşeker</li>
					<li>2 adet yumurta</li>
					<li>2 paket bitter çikolata</li>
				</ul>
		<h4 style="border-bottom: 1px solid #DEDEDE;padding-bottom: 5px;padding-top: 30px;">Notlarım</h4>
		<ul class="nav how-to-make-it">
			<li>Preheat oven to 375F.  Combine the salsa &amp; broth in a blender and process until smooth.  In a large bowl, toss the tortilla chips with 2 1/2 cups of the salsa mixture.  In a separate bowl, toss the chicken with the remaining 1/2 cup salsa mixture.</li>

		</ul>
			</div>


			<!-- How to make it -->
	<div class="col-md-6">
			<h4 style="border-bottom: 1px solid #DEDEDE;padding-bottom: 5px">Nasıl yapılır</h4>
		<ul class="nav how-to-make-it">
				<li>Preheat oven to 375F.  Combine the salsa &amp; broth in a blender and process until smooth.  In a large bowl, toss the tortilla chips with 2 1/2 cups of the salsa mixture.  In a separate bowl, toss the chicken with the remaining 1/2 cup salsa mixture.</li>
				<li>In a greased 13 x 9 inch baking dish, layer 1/3 of the chips, followed by 1/2 of the chicken, half of the sliced onion, and 1/3 of the cheese.  Repeat.  Top with the remaining chips and cheese.  Cover with foil and bake on the middle rack for 30 minutes or until heated through and the cheese is melting.  Serve hot.</li>
				<li>Note:  I baked for 20 minutes with the foil on and removed for the last 10 minutes:)</li>
			</ul>
		</div>


</div>

			<div class="row">
				<div class="col-md-12">
					<h4 style="border-bottom: 1px solid #DEDEDE;padding-bottom: 5px">Yorumlar</h4>

					<ul class="img-comment-list">
						<li>
							<div class="comment-img">
							</div>
							<div class="comment-text">
								<a href="#">Önceki 49 yorumu gör</a>
							</div>
						</li>

						<li>
							<div class="comment-img">
								<img src="http://lorempixel.com/50/50/people/6">
							</div>
							<div class="comment-text">
								<strong><a href="">Jane Doe</a></strong>
								<p>Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
							</div>
						</li>
						<li>
							<div class="comment-img">
								<img src="http://lorempixel.com/50/50/people/7">
							</div>
							<div class="comment-text">
								<strong><a href="">Jane Doe</a></strong>
								<p>Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span>on March 5th, 2014</span>
							</div>
						</li>
						<li>
							<div class="comment-owner-img">
								<img src="http://lorempixel.com/50/50/people/1">
							</div>
							<div class="comment-form">
								<input type="text" class="form-control" placeholder="Yorum yaz...">
							</div>
						</li>
					</ul>
				</div>
			</div>

	</div>
		<div class="col-md-4" style="border-left:1px solid #DEDEDE;padding-bottom:50px;">
			<div class="page-header" style="border: 0;margin-bottom:5px;padding-left:0">
				<div class="row">
					<div class="col-md-3" style="padding-right:0;margin-right:0;width:70px;">
						<div class="media">
							<a class="pull-left" href="#">
								<img class="img-circle" src="http://lorempixel.com/50/50/people/1" style="width: 50px;height:50px;">
							</a>
						</div>
					</div>
					<div class="col-md-6" style="width: 221px">
						<div class="media-body">
							<h4 class="media-heading">Hande Özgan</h4>
							<div><a href="#" style="text-decoration: none;color:#777">17 takipçi</a></div>
							<div><a href="#" style="text-decoration: none;color:#777">65 tarif</a></div>
						</div>
					</div>
					<div class="col-md-3">
						<a href="#" class="btn btn-sm btn-success pull-right">Takip Et</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="nav-header" style="border-bottom: 1px solid #EFEFEF; padding-bottom: 5px">Hande'nin Popüler Tarifleri <small><a href="#">tümü</a></small></h4>
					<div class="row">
						<div class="col-md-5" style="width:155px; padding-right:0">
							<div class="media">
								<a class="pull-left" href="#">
									<img src="http://placehold.it/120x90" style="width: 120px;height:90px;">
								</a>
							</div>
						</div>
						<div class="col-md-7" style="padding-left:0">
							<div class="media-body">
								<h4 class="media-heading" style="font-size:16px;margin-top:5px;">Mandalina Sulu Meyveli Kek</h4>
								<small style="display:block;font-size:small"><a href="#">Tatlı Şeyler</a> defterinden</small>
								<small><a href="#" style="display:block;text-decoration: none;color:#777">1925 kişi nefis buldu</a></small>
								<small><a href="#" style="display:block;text-decoration: none;color:#777">17371 kez görüntülendi</a></small>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Reklam Section -->
			<div class="row" style="padding-top:10px">
				<div class="col-md-12">
				<div class="well" style="padding: 10px">
					<img src="http://placehold.it/336x269&amp;text=Reklam Alani 336x269">
				</div>
				</div>
			</div>

			<!--- Benzer Tarifler Section -->
			<div class="row" style="padding-top:10px">
				<div class="col-md-12">
					<h4 class="nav-header" style="border-bottom: 1px solid #EFEFEF; padding-bottom: 5px">Benzer Tarifler <small><a href="#">tümü</a></small></h4>
					<div class="row">
						<div class="col-md-5" style="width:155px; padding-right:0">
							<div class="media">
								<a class="pull-left" href="#">
									<img src="http://placehold.it/120x90" style="width: 120px;height:90px;">
								</a>
							</div>
						</div>
						<div class="col-md-7" style="padding-left:0">
							<div class="media-body">
								<h4 class="media-heading" style="font-size:16px;margin-top:5px;">Çikolata Şelalesi</h4>
								<small style="display:block;font-size:small"><a href="#">Ekin Özgan</a> yazdı</small>
								<small><a href="#" style="display:block;text-decoration: none;color:#777">5 kişi nefis buldu</a></small>
								<small><a href="#" style="display:block;text-decoration: none;color:#777">175 kez görüntülendi</a></small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
